
<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link href="/dist/css/core.css?${webpack.hash}" rel="stylesheet" type="text/css"/>
  <link href="/dist/css/index.css?${webpack.hash}" rel="stylesheet" type="text/css"/>

  <style>
   
  </style>

</head>
<body class="g-doc m-index">
  <div class="g-hd">
  </div>
  <script type="text/javascript" src="/dist/js/vendor.js?${webpack.hash}"></script>
  <script type="text/javascript" src="/dist/js/core.js?${webpack.hash}"></script>
  <!-- <script type="text/javascript" src="/dist/js/index.js?${webpack.hash}"></script> -->
</body>
</html>

