{% import "../common/macro.njk" as mco %}
<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>用户隐私保护声明</title>
  <link href="/dist/css/core.css?${webpack.hash}" rel="stylesheet" type="text/css"/>
  
  <style>
  .m-portocal { background-color: #f7fafc; }
  .m-portocal .m-topbar { background-color: #05182b; }
  .m-portocal .m-topbar .g-logo_top { background-color: inherit; }
  .m-portocal .g-bd { color: #333; font-size: 14px; background-color: #fff; padding: 100px 50px 200px; margin-bottom: -100px; }
  .m-portocal .g-bd header { text-align: center; font-size: 24px; line-height: 40px; margin-bottom: 50px; }
  .m-portocal .g-bd section { margin-bottom: 40px; }
  .m-portocal .g-bd section p { line-height: 24px; }
  .m-portocal .g-bd section h5 { font-weight: normal; line-height: 30px; }
  .m-portocal .g-bd section > ul { padding-left: 27px; }
  .m-portocal .g-bd section > ul > li { margin-bottom: 20px; }
  .m-portocal .g-bd section > ul > li > ul { padding-left: 20px; }
  .m-portocal .g-ft { height: 100px; border-top: 0px; }
  </style>
</head>
<body class="g-doc m-portocal">
  <div class="g-hd">
     {{mco.topbar()}}
  </div>
  <div class="g-bd">
    <header>
      <h1>用户隐私保护声明</h1>
    </header>
    <section>
      <p>北京中科汇云科技有限公司（以下简称“汇云科技”）郑重承诺保护您的隐私。</p>
      <p>本声明详细介绍了在您访问我们的网站，联系我们，使用我们的产品及服务时，我们为保护您的信息所采取的具体措施。</p>
    </section>
    <section>
      <h5>一、对用户信息的收集</h5>
      <ul>
        <li>
          <p>我们基于以下三个原因收集和处理您的信息：</p>
          <p>1.注册申请使用“汇云科技”产品服务；</p>
          <p>2.为您部署实施“汇云科技”产品服务；</p>
          <p>3.提高您的帐户的安全性并提供客户支持。</p>
          <p>当您注册申请使用“汇云科技”产品时，或联系我们时，将会要求您提供特定的信息资料，这些信息将存储在“汇云科技”系统数据库中。其中，这里的“信息”是指公司名称、地址、联系人、电话、电子邮件、公司网站域名、上传到服务器的信息和文件等。</p>
        </li>
      </ul>
    </section>
    <section>
      <h5>二、对用户信息的使用</h5>
      <ul>
        <li>
          <p>1.一般情况下我们不使用您的信息：</p>
          <ul>
            <li><p>(1)“汇云科技”绝不会向任何无关的第三方提供、出售、出租、分享和交易您的任何信息。</p></li>
            <li><p>(2)“汇云科技”绝不会采用不同于本隐私声明中所描述的方式使用或共享您的信息，除非我们事先征得了您的同意。</p></li>
          </ul>
        </li>
        <li>
          <p>2. “汇云科技”如何使用您的信息：</p>
          <p>为方便您使用“汇云科技”服务及“汇云科技”关联公司或其他组织的服务，您同意并授权“汇云科技”使用您的信息来操作和维护您的用户帐户以及提升和完善您所使用的产品服务。</p>
        </li>
        <li>
          <p>3.用户信息披露的一般规定：</p>
          <ul>
            <li><p>我们绝不会披露您的信息，但如果有以下5种情况，可另行处理：</p></li>
            <li><p>(1)您同意我们可披露或使用您的信息以用于识别和（或）确认您的身份，或解决争议，或有助于确保网站安全、限制欺诈、非法或其他刑事犯罪活动，以执行我们的服务协议。</p></li>
            <li><p>(2)您同意我们可披露或使用您的信息以保护您的生命、财产之安全或为防止严重侵害他人之合法权益或为公共利益之需要。</p></li>
            <li><p>(3)您同意我们可披露或使用您的信息以改进我们的产品服务，并使“汇云科技”的产品服务更能符合您的要求，从而使您在使用我们产品服务时得到更好的使用体验。</p></li>
            <li><p>(4)您同意我们利用您的信息与您联络，并向您提供您感兴趣的信息，如：“汇云科技”的产品信息。</p></li>
            <li><p>(5)当我们被法律强制或依照政府或依权利人因识别涉嫌侵权行为人的要求而提供您的信息时，我们将善意地披露您的资料。</p></li>
          </ul>
        </li>
      </ul>
    </section>
    <section>
      <h5>三、对用户信息的保护</h5>
      <ul>
        <li>
          <p>1.我们承诺，将对您所提供的资料信息进行严格的管理及保护，并将使用多种安全技术和措施来保护您的信息，以防止您的信息被未经授权访问、使用或泄漏，甚至被篡改。</p>
          <p>2.您只有输入正确的密码才能访问您的信息，确保您的用户帐户密码的安全并且不向他人泄漏此信息是您的责任。</p>
          <p>3.尽管我们有这些安全措施，但请注意，鉴于互联网的特性，并不存在“绝对完善的安全措施”。</p>
        </li>
      </ul>
    </section>
    <section>
      <h5>四、对隐私声明的变更</h5>
      <ul>
        <li>
          <p>1.本声明的解释权归“汇云科技”所有。</p>
          <p>2.随着“汇云科技”的快速发展与稳步壮大，我们也会不断改进隐私声明。若我们决定更改我们的隐私声明，我们将会把所做的变更放在我们的站点上；同时，当我们进行更新时，会修订位于隐私声明底部的“最后更新日期”。</p>
          <p>3.如果我们对此声明作出重大改动，我们将通过您最后提供给我们的电子邮件地址向您发送电子邮件或在站点上的显著位置发布有关改动的通知。</p>
          <p>4.对于在收集信息时隐私声明中未规定的有关信息共享和使用的扩展，会在任何更新之前征求您的同意。</p>
        </li>
      </ul>
    </section>
    <section>
      <h5>五、客户服务</h5>
      <ul>
        <li>
          <p>如您对本隐私声明或“汇云科技”的隐私保护措施以及您在使用中产生的任何问题或疑虑，请通过下面所列的联系信息与我们联系：</p>
          <p>电子邮件：<a href="mailto:huitax@zhcpa.cn">huitax@zhcpa.cn</a></p>
          <p>我们将立即着手解决您的问题，并力争提供令您满意的解决方案。</p>
          <p>总之，我们会尽一切努力保护您的隐私。</p>
        </li>
      </ul>
    </section>
  </div>
	<div class="g-ft">
    {{mco.footer(dark)}}
	</div>
</body>
</html>
